<div class="row">
<%= render 'aside' %>
  <div class="col-md-8">
  	<div class="followers-list">
      <h2>Following List</h2>
      <% @followings.each do |user| %>
      <ul style="font-size: 30px">
          <%= link_to gravatar_for(user, size: 50), user %>
          <span class="user"><%= link_to user.name, user %></span>
          <span class="phrase" style="font-size: 20px">
          <% if user.phrase %>
            :　<%=user.phrase%>
            <% else %>
            <span class="phrase" >:プロフィールにまだ一言を登録していません</span>
          <% end %>
          </span>
        </ul>
       <% end %>
     </ul>
    </div>
  </div>
</div>